# ─────────────────────────────────────────────────────────────────────────────
# nginx-sec-lab -- Credentials (example)
# Copy this file to lab.secrets and fill in your values
# ─────────────────────────────────────────────────────────────────────────────

DOCKERHUB_USER=yourusername
DOCKERHUB_PASS=yourpassword

# NGINX Plus JWT (leave blank for OSS)
NGINX_JWT=eyJhbGci...your_jwt_token_here...
